@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

* {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
}

.btn-animated {
    position: relative;
    /*animation: mymove 2s infinite;*/
}

.checkbox-move {
    position: relative;
    /*animation: checkboxmove 1.5s infinite;*/
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

tr:nth-of-type(odd) td {
    background: #e8e8e8;
}

tr:nth-of-type(even) td {
    background: #f5f5f5;
}

th.memFavorite {
    width: 32px;
}

.table > tbody > tr > td.isFavorite {
    font-size: 1.7em;
    text-align: center;
    padding: 3px 8px 0;
}

@keyframes mymove {
    0% {
        top: 0;
        left: 0;
    }
    20% {
        left: 250px;
        background: blue;
    }
    50% {
        top: 200px;
        background: green;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes checkboxmove {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 100%;
    }
    100% {
        top: 0;
        left: 0;
    }
}