<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <img src="bmipic.gif">

</head>
<body>


<div class="container">
    <div class="row">
        <div class="col">
            <form method="get" action="result">
                <div class="form-group">

                    <label> podaj wzrost:
                        <input type="number" step="1" name="first_number" placeholder="Number one">
                    </label>
                </div>
                <br><br>
                <div class="form-group">
                    <label> podaj wage:
                        <input type="number" step="1" name="second_number" placeholder="Number two">
                    </label>
                </div>
                <br><br>
                <br><br>
                <div class="form-check">
                    <label class="form-check-label"> Kobieta
                        <input type="radio" class="form-check-input" name="options" id="Kobieta "
                               value="woman">
                    </label>
                    <br><br><br>
                    <label class="form-check-label"> Mezczyzna
                        <input type="radio" class="form-check-input" name="options" id="Mezczyzna "
                               value="man">
                    </label>
                    <br>
                <div>

                <br><br>
                <br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>